<header class="h-14 flex space-x-4 items-center justify-between select-none mx-4">
   <!-- заголовок -->
   <h1 class="font-bold text-lg flex-1 flex-grow-1">
      <a [routerLink]="['']">Основное меню</a>
   </h1>
   
   <!-- оповещения -->
   <div class="border rounded-md border-gray-700 px-2 py-1 text-xs text-gray-700 relative">2
      <span class="absolute rounded-full right-0 top-0 -m-2 bg-blue-500 h-4 w-4 border-4 border-gray-200"></span>
   </div>
   
   <!-- аватар -->
   <button class="h-6 w-12 inline-flex items-center">
      <img src="./assets/images/avatar.png" class="h-7 w-7 object-cover rounded-full">
      <svg class="fill-current h-2 ml-1 flex-auto text-gray-700" viewBox="0 0 10 6">
         <use xlink:href="./assets/images/icons.svg#arrow_down" />
      </svg>
   </button>
</header>
