<header class="h-14 flex space-x-4 items-center justify-between select-none mx-3 border-b border-gray-400">
   <!-- заголовок -->
   <h1 class="text-blue-900 font-bold text-lg flex-1 flex-grow-1">Основное меню</h1>
   
   <!-- оповещения -->
   <div class="border rounded-md border-gray-700 px-2 py-1 text-xs text-gray-700 relative">2
      <span class="absolute rounded-full right-0 top-0 -m-2 bg-blue-500 h-4 w-4 border-4 border-gray-200"></span>
   </div>
   
   <!-- аватар -->
   <button class="h-6 w-12 inline-flex items-center focus:outline-none">
      <img src="/assets/images/avatar.png" class="h-full w-7 object-cover rounded-full">
      <svg class="fill-current h-2 ml-1 flex-auto" viewBox="0 0 10 6">
         <use xlink:href="/assets/images/icons.svg#arrow_down" />
      </svg>
   </button>
   
   <!-- <div class="flex flex-1 flex-grow-1 md:flex-grow-4 items-center h-full justify-start">
      
      
      <span class="mx-2 uppercase">
         <h1 class="hidden md:block leading-tight text-base lg:text-lg font-normal tracking-wide">
            Основное меню
         </h1>
      </span>
   </div>
   
   <a
      class="flex-1 flex-grow-0 text-3xl px-6 py-4 fal fa-envelope relative group hover:bg-blue-200 hover:cursor-pointer hover:text-blue-700 text-blue-100">
      <span class="mt-2 ml-1 absolute group-hover:invisible text-xs font-main top-0 font-medium text-blue-200">23</span>
   </a>
   
   <span class="flex-1 max-w-0 sm:max-w-fitcontent leading-tight truncate text-center">Администратор dfdddddddddddd ffffffffffffff
      gggggggggggg eeeeeeeeeee rrrrrrrrrr</span>
   

   <div class="flex-1 flex-grow-0 relative">
      <button class="hover:bg-blue-200 px-6 py-4 inline-flex items-center focus:outline-none group w-full z-50 relative">
      
         <i class="fal text-3xl text-blue-100 group-hover:text-blue-700"></i>
      </button>
      
   </div> -->
</header>
<!-- 

<div class="bg-red-500 sm:bg-green-500 md:bg-blue-500 lg:bg-pink-500 xl:bg-teal-500 w-12 h-12"></div> -->
